$base-color: #ffffff;
$color: rgb(0, 0, 0);
$secundary_color: #fff;
$botton-accept-color: rgb(0,255,0, 0.75);
$height-input: 40px;
$font-title-family:'Oswald', sans-serif;;
$font-text-family: 'Libre Baskerville', 'Roboto Slab',serif;
$main_background : white;
$second_background : rgb(0, 0, 0);
$header_icons: white;
$component_background: #001E3C  ;